body {
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin-top:150px;
    padding:40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container td {
    padding:0;
    margin: 0;

    text-align: center;
    height:300px;
    text-align:left;
}
.container tr {
    height:300px;

}
input {
    display: block;
    margin: 5px 0 5px 0;
}
select {
    margin: 5px 0 5px 0;
    display: block;
}

.buttons {
    margin-left:2px;
    display: inline;
    float: right;
    background-color: #808080;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}


.buttons:hover {
    background-color: #404040;
}



.formContainer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;

}
.formContainer form {
    width: 40%;
    padding:40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
